
// --- --- --- Colors --- --- ---

$navigation-bg: #151419;
$main-bg: #1A191E;
$grey: #626262;
$white: #fff;
$blue: #3C59F0;

// --- --- --- Fonts --- --- ---

$font-small: 12px;
$font-base: 16px;
$font-base-plus: 20px;
$font-big-minus: 25px;
$font-big: 30px;